@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-inline: 10vw;
  margin-top: 80px;
  margin-bottom: 80px;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
li,
#tag,
button,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-size: clamp(3.4rem, 2.4571rem + 4.0229vw, 10rem);
}

h2,
.nextproject {
  /* font-size: clamp(2.4rem, 1.6rem + 3.4133vw, 8rem); */
  font-size: clamp(2.375rem, 1.5rem + 2.8vw, 5rem);
}

h2#preheader {
  font-size: clamp(1.5rem, 1.1429rem + 1.5238vw, 4rem);
}

h3 {
  font-size: clamp(1.5rem, 1.1429rem + 1.5238vw, 4rem);
}

h3#preheader {
  font-size: clamp(1.2rem, 1.0857rem + 0.4876vw, 2rem);
}

h4 {
  font-size: clamp(1.2rem, 1.0857rem + 0.4876vw, 2rem);
}

h4.projectcaption {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(1.2rem, 1.0857rem + 0.4876vw, 2rem);
}

p,
#tag,
button,
li,
.projectcaption {
  font-size: clamp(1rem, 0.9167rem + 0.2667vw, 1.25rem);
}

a {
  color: #f54501;
}

.projectcaption {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

section#footermenu ul li,
section#footercontact h4 {
  font-size: clamp(1.5rem, 1.4286rem + 0.3048vw, 2rem);
}

/* #footermenu ul li a {
  color: #ffff;
} */

/****** KNAPPER ********/
.arrow-button {
  display: flex;
  color: #f54501;
  background-color: transparent;
  border: 2px solid #f54501;
  padding: 15px 40px;
  border-radius: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin-block: 20px;
}

.arrow-button > .arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #f54501;
  border-bottom: 2px solid #f54501;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

/* Animation af pilens spids */
.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: #f54501;
}

/* Animation af pilens stamme */
.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 15px;
}

.arrow-button:hover {
  color: #f54501;
}

/*************** LOGO STYLING **************/
a .JakartaLogo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 5vw;
  color: #647dff;
}

a .JakartaLogoWhite {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 4vw;
  color: #fff;
}

a .PTlogo {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 5vw;
  color: #647dff;
}

a .PTlogoWhite {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4vw;
  color: #fff;
}

/************* Header burgermenu + slider ******************/
.menu a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 6vw;
  color: #647dff;
}

header + * {
  /* padding-top: 30px; */
  margin-bottom: 0px;
  padding-bottom: 0;
}

.wrapper {
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: black;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}

.wrapper li {
  margin-right: 4rem !important;
}

#active:checked ~ .wrapper {
  /*left: 0;*/
  right: 0;
}

.menu-btn {
  position: absolute;
  z-index: 200;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: transparent;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 25%;
  width: 40%;
  border-bottom: 2px solid black;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 2px;
  width: 80%;
  background: white;
}
.menu-btn:before {
  transform: translateY(-8px);
}
.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
  transform: scaleX(0);
}
#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: white;
}

#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: white;
}

.wrapper ul li {
  height: 10%;
  margin: 15px 0;
  color: white;
}
.wrapper ul li a {
  font-size: 7vw;
  font-weight: 500;
}
.wrapper ul {
  position: absolute;
  top: 60%;
  left: 102%;
  text-align: center;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.wrapper ul li a:hover {
  color: white !important;
}

/**** Hover lilla menu ****/
/* .wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #647dff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
} */

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: black;
}
input[type="checkbox"] {
  display: none !important;
}

#active:checked ~ .wrapper ul li a {
  opacity: 1;
}
.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1); /* easeOutBackを緩めた感じ */
  transition-delay: 0.6s;
  transform: translateX(-100px);
}

/************ HERO SECTION ***********/
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-iteration-count: 1;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

.puls {
  animation-name: puls_kf;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes puls_kf {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

#hero {
  height: 60vh;
  background-color: none;
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  color: black;
  font-size: clamp(2rem, 8vw, 6rem);
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}

#hero p {
  text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy {
  color: #f54501;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(to right, var(--blue), var(--green), var(--blue));
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #f54501;
  animation: background-pan 150s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
  transform: translate(120%, -30%) rotate(-10deg);
}

/* END HERO */

/************ Zoom effect img  ************/
.imgzoom {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.imgzoom img {
  width: 100%;
  transition: 1s all ease-in-out;
}

.imgzoom:hover img {
  transform: scale(1.2);
}

@media (min-width: 600px) {
  section {
    padding-inline: 12vw;
  }

  footer section#footerlogo {
    padding-inline: 4vw;
  }

  section#columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  #footerlogo {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-inline: 0;
  }

  #footermenu {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-inline: 0;
  }

  #footercontact {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-inline: 0;
  }
}

@media (min-width: 700px) {
  /* LOGO STYLING */
  a .JakartaLogo {
    font-size: 3vw;
  }

  a .PTlogo {
    font-size: 3vw;
  }

  /* Header burgermenu + slider */
  .wrapper ul {
    left: 100%;
  }

  .wrapper ul li a {
    font-size: 5vw;
    padding: 10px 30px;
  }
  .wrapper ul li {
    margin-top: 10px;
  }

  .menu-btn {
    right: 90px;
  }

  #allprojectscontainer {
    display: flex;
    gap: 10px;
  }

  #projectcontainer1 {
    position: relative;
    flex-basis: 50%;
  }

  #projectcontainer1:hover {
    flex-basis: 60%;
  }

  #projectcontainer2 {
    position: relative;
    flex-basis: 50%;
  }

  #projectcontainer2:hover {
    flex-basis: 60%;
  }

  .transitionscale {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
  }

  /* main {
    margin-inline: 8vw;
  } */
}

@media (min-width: 1000px) {
  .wrapper ul {
    left: 90%;
    top: 50%;
  }

  /* LOGO STYLING */
  a .JakartaLogo {
    font-size: 2vw;
  }

  a .PTlogo {
    font-size: 2vw;
  }

  /* Header burgermenu + slider */
  .wrapper ul li a {
    font-size: 6vw;
    padding: 20px 30px;
  }

  .wrapper ul li {
    margin-top: 80px;
  }
}
