@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 4vw;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14vw;
}

a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 6vw;
}

p .caption {
  font-family: "PT Serif", serif;
  font-size: 2vw;
}
