@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin-inline: 4vw;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14vw;
}

p .caption {
  font-family: "PT Serif", serif;
  font-size: 2vw;
}

/* LOGO STYLING */
a .JakartaLogo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 5vw;
  color: #647dff;
}

a .PTlogo {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 5vw;
  color: #647dff;
}

@media (min-width: 700px) {
  a .JakartaLogo {
    font-size: 3vw;
  }

  a .PTlogo {
    font-size: 3vw;
  }
}

@media (min-width: 1000px) {
  a .JakartaLogo {
    font-size: 2vw;
  }

  a .PTlogo {
    font-size: 2vw;
  }
}
